table {
    display:  flex;
    justify-content: center;
    align-content: center;
}
td {
   width: fit-content;
   height: fit-content;
   
}
header {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}
.Player1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Player2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}
.Player1 .name {
    margin: 10px;
    justify-content: flex-start;
}
.Player1 .score {
    margin: 10px;
    justify-content: flex-end;
}
.Player2 .name {
    margin: 10px;
    justify-content: flex-start;
}
.Player2 .score {
    margin: 10px;
    justify-content: flex-start;
}
.my-Turn {
    background-color: green;
    border-style: dashed;
}